.container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    justify-content: space-between;
}

.title {
    flex: 1;
    color: black;
    background-color: white;
    text-align: center;
    font-size: 30px;
    font-weight:600;
}

.result {
    flex: 3;
    background-color: rgb(68, 68, 130);
    color: white;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px;
    font-size: 30px;
}

.input {
    flex: 1;
    background-color: rgb(44, 53, 87);
    padding: 30px;
}

.inputText {
    background-color: rgb(237, 233, 233);
    padding: 20px;
    color: rgb(86, 85, 85);
    font-size: 20px;
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-bottom: 30px;
}

.button {
    padding: 10px;
    background-color: rgb(240, 244, 247);
    font-size: 18px;
}